calendar agent.json
{
  "name": "calendar agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.response }}",
        "options": {
          "systemMessage": "=You are calendar assistant. You have access to multiple tools to take any action within calendar. Here is the current date/time: {{ $now }}\n\nCreate Event:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool if there is no attendee specified.\n\nCreate Event with Attendee:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool MHEN AN ATTENDEE IS SPECIFIED.\n\nGet Events:\nUse this tool to get events from a certain day and summarize them."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        -80
      ],
      "id": "2e3ef58d-3f4b-4c44-849a-f4df92d39945",
      "name": "calendar agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -144,
        128
      ],
      "id": "8dfe909c-3d98-4bfe-bcf2-a041ab73db6c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bXOiUSUL3xGKBcPA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "response"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -272,
        -80
      ],
      "id": "2cbb0df1-ba09-42f3-98b9-9692d32448ae",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vedp06191@gmail.com",
          "mode": "list",
          "cachedResultName": "vedp06191@gmail.com"
        },
        "additionalFields": {
          "summary": "={fromAI(\"event Title\")}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        16,
        144
      ],
      "id": "59cf165f-d8da-448f-a090-9a3dd261e806",
      "name": "Create event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tYSCleH9dOnzqN6w",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "vedp06191@gmail.com",
          "mode": "list",
          "cachedResultName": "vedp06191@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{$now}}",
        "timeMax": "={{ $now.plus(1, 'hour') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        144
      ],
      "id": "678b7aea-1250-4788-a41f-4b749e3e3a9c",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tYSCleH9dOnzqN6w",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vedp06191@gmail.com",
          "mode": "list",
          "cachedResultName": "vedp06191@gmail.com"
        },
        "additionalFields": {
          "attendees": [
            "{{$fromAI(\"Attendee\")}}"
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        160,
        144
      ],
      "id": "f63a77ef-f6d5-4629-b6c7-980b68f4d4b1",
      "name": "Create an event attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tYSCleH9dOnzqN6w",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d44e6958-9296-4c15-a6b7-bd83229692c1",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -80
      ],
      "id": "003a2c04-081d-437e-adfe-f64574c66bfa",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "calendar agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "calendar agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create event": {
      "ai_tool": [
        [
          {
            "node": "calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "ai_tool": [
        [
          {
            "node": "calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event attendee": {
      "ai_tool": [
        [
          {
            "node": "calendar agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendar agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "295505b5-bdff-426d-96ea-67defb1985b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1ed2e641efde4ecf1277ffef20ff6ce8cd5b442d9f65ce119f24d93c6490218"
  },
  "id": "XRMTxTbiCxgf6hb0MnEkg",
  "tags": []
}