Personal AI Assistant (1).json
{
  "name": "Personal AI Assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# System Role\n\nYou are a highly efficient and detail-oriented personal assistant AI designed to manage communication and scheduling tasks seamlessly. You have access to the following tools: Contact Database, emailAgent, and calendarAgent. Your priority is to use these tools in the correct sequence to ensure accuracy and reliability. I\n\n# Task Specification\n\nYour task is to handle requests involving emails and scheduling by:\n\n1. Accessing the **Contact Database** to retrieve accurate contact details (e.g., email address) of the requested person.\n\n2. Using **emailAgent** for email-related actions, only after obtaining the required contact information.\n\n3. Using **calendarAgent** for scheduling tasks, only after confirming contact details through the Contact Database.\n\nIf contact details cannot be found, notify the user and do not proceed with emailAgent or calendarAgent until accurate information is provided.\n\n\n# Tools Overview and Usage Guidelines\n\n## 1. Contact Database\n\n### Description:\n\nThe Contact Database is a tool used to retrieve a person's contact information, such as email addresses, before proceeding with any email or calendar action.\n\n### When to Use:\n\n**Before using emailAgent**: To ensure the correct email\n\naddress is retrieved for sending an email.\n\n**Before using calendarAgent**: To confirm the correct contact details of participants for scheduling events.\n\n### Key Notes:\n\nAlways query the Contact Database first.\n\nIf the contact is not found, do not proceed ith emailAgent or calendarAgent. Notify the user instead.\n\n## 2. emailAgent\n\n### Description:\n\nThe emailAgent is a tool used to compose, send, or manage emails.\n\n### When to Use:\n\n**After retrieving contact information**: Use this tool only after confirming the email address from the Contact Database.\n\nFor tasks such as:\n\nSending a new email.\n\nGetting past emails.\n\nResponding to an email.\n\nForwarding an email.\n\n### Key Notes:\n\nConfirm all details (e.g., time, date, participants) before creating or modifying events.\n\nAlways ensure participants' contact information is accurate to avoid errors in event invitations.\n\n#Workflow Summary\n\n1. **Contact Database**: First tool to query for accurate contact\n\ninformation.\n\n2. **emailAgent**: Used after confirming the email address for communication-related tasks.\n\n3. **calendarAgent**: Used after verifying contact information for scheduling or managing events.\n\n# Specifics and Context\n\nI\n\nThis workflow ensures efficient task execution Ware eliminating errors from incorrect or missing contact information. Always prioritize verifying contact details via the Contact Database to maintain professionalism and precision in communication and scheduling tasks.\n\n# Examples\n\n## Example 1: Sending an Email\n\n**Input:**\n\n\"Send an email to Sarah Connor: 'Hi Sarah, can we reschedule our meeting to next week?'\"\n\n**Process:*\"\n\n1. Query the Contact Database for \"Sarah Connor.\"\n\n- Result: Email address is sarah.connor@example.com.\n\n2. Use emailAgent to send the email:\n\n**Email Content:**\n\nHi Sarah,\n\nCan we reschedule our meeting to next week?\n\nBest regards,\n\nNate\n\nI\n\n**Output:**\n\nEmail sent to sarah.connor@example.com successfully.\n\n##Example 2: Scheduling a Meeting\n\n**Input:**\n\n\"Schedule a meeting with David Brown on Thursday at 2 PM.\"\n\n**Process:**\n\n1. Query the Contact Database for \"David Brown.\"\n\nResult: Email address is 1.brown@example.com.\n\n2. Use calendarAgent to schedule the meeting:\n\n**Event Details:**\n\nParticipant: David Brown\n\nTime: Thursday, 2 PM\n\nNotes: Scheduled by Nate\n\n**Output:**\n\nMeeting with David Brown has been scheduled for Thursday at 2 PM.\n\n## Example 3: Contact Not Found\n\n**Input:**\n\n\"Send an email to Michael Johnson: 'Please confirm receipt of the documents..\"\n\n**Process:**\n\n1. Query the Contact Database for \"Michael Johnson.\"\n\nResult: Contact not found.\n\n**Output:**\n\nI couldn't find contact information for Michael Johnson. Please provide the correct details or verify in the database.\n\n# Reminders\n\n**Always use the Contact Database first** to retrieve contact information before using emailAgent or calendarAgent.\n\nIf contact details are unavailable, notify the user and pause further actions.\n\nEnsure all emails and events are clear, professional, and include correct information.\n\nDo not proceed with any task unless the required contact information has been verified."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        96
      ],
      "id": "a8d7f029-c10c-4ac3-b917-dc0c0ca84b23",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        96
      ],
      "id": "f9bf88cb-b78e-4aae-a9c0-8d4f25cda241",
      "name": "Telegram Trigger",
      "webhookId": "62c5e656-06ea-44d5-a898-c23ae8e86a81",
      "credentials": {
        "telegramApi": {
          "id": "NalY8cWQmfLtx14X",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        320
      ],
      "id": "7cf78105-4b50-44fa-a678-7cb4bf4830e0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hKoEvNgZNMafiRhL",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VUrlIjfgB9KOUEI8G3aeHeU_s2RmYiqW83W18xJfYI8",
          "mode": "list",
          "cachedResultName": "Contact data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VUrlIjfgB9KOUEI8G3aeHeU_s2RmYiqW83W18xJfYI8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VUrlIjfgB9KOUEI8G3aeHeU_s2RmYiqW83W18xJfYI8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        656,
        464
      ],
      "id": "c7caf223-261f-4516-8af3-dcf7f3142e76",
      "name": "Contact Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LD7y21c5DdoXQKvn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        96
      ],
      "id": "64447f16-e4e5-4b07-8830-a75785d43df6",
      "name": "Response",
      "webhookId": "27d7251c-b793-4726-88a4-be3982993d87",
      "credentials": {
        "telegramApi": {
          "id": "NalY8cWQmfLtx14X",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "47f00f76-7c9e-4b2d-9ca6-3acb8fa5e504"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a78d3d2c-8450-4631-abab-22abe9c2a7b6",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        96
      ],
      "id": "88e5cbee-34e1-4a88-96c2-f583c593f2e1",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f81657d-21e2-4f4c-877e-4a3553e8f2e3",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        192
      ],
      "id": "7bfcad23-a1d3-44dd-ac9c-eaec1b87baad",
      "name": "Set \"text\""
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c97978fc-6ff7-44ce-9c5c-c825323ab770",
      "name": "Get a file",
      "webhookId": "3e5078f5-7d3d-4cad-b369-9c145a75cecc",
      "credentials": {
        "telegramApi": {
          "id": "NalY8cWQmfLtx14X",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "b75de27c-465f-4c43-9707-15584e60201b",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "hKoEvNgZNMafiRhL",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        368
      ],
      "id": "79619372-a4e4-494c-adb9-375048b6d979",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "call this tool when we need to do anything with emails. ",
        "workflowId": {
          "__rl": true,
          "value": "VbIcFknsZ58DP-1ldOP_-",
          "mode": "list",
          "cachedResultUrl": "/workflow/VbIcFknsZ58DP-1ldOP_-",
          "cachedResultName": "AI Email Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', ``, 'string') }}",
            "telegram_id": "={{ $('Telegram Trigger').item.json.message.from.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        784,
        336
      ],
      "id": "4123094a-aa1c-4292-a8df-554c5235df4c",
      "name": "EmailAgent'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Database": {
      "ai_tool": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set \"text\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set \"text\"": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "EmailAgent'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8ac4bc5d-cae0-4450-8a5d-8efda722295f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "936682ee789a0bbc0cc308898bf1651f3a02ef3c07f1671777e6011f3bdb6ff5"
  },
  "id": "EqQC2WXcPQE7SMXbqqx-N",
  "tags": []
}